.primary{
   padding: 14px 24px 10px 24px;
   @apply w-full  bg-btn_primary_normal  rounded-[8px] text-white  font-quicksand font-bold  text-base box-border;
  @apply hover:bg-btn_primary_hover hover:shadow-btn_hover;
  @apply active:bg-btn_primary_active active:shadow-btn_hover;
   @apply focus:outline-none;
}
.outlined{
    padding: 14px 24px 10px 24px;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 25, 72, 0.5);
    
    @apply w-full rounded-[8px] text-btn_primary_normal border border-btn_primary_normal font-quicksand font-bold  text-base box-border;  
    @apply hover:bg-btn_outlined_hover hover:shadow-btn_hover;
    @apply active:bg-btn_outlined_active;
    @apply disabled:bg-btn_outlined_disabled disabled:text-btn_outlined_hover;
    @apply focus:outline-none;
   
}

%btn{
    padding: 14px 24px 10px 24px;
    @apply  w-full  rounded-[8px]  font-quicksand font-bold  text-base box-border
}

.contained-primary{

    @extend %btn;
    @apply   bg-btn_primary_normal text-white;
    @apply hover:bg-btn_primary_hover hover:shadow-btn_hover;
    @apply  active:bg-btn_primary_active active:shadow-btn_hover;
    @apply disabled:bg-btn_primary_disabled disabled:shadow-none ;
    @apply  focus:outline-none;
}
.outlined-primary{
     
    @extend %btn;
    @apply text-btn_primary_normal border border-btn_primary_normal bg-white;   
    @apply hover:bg-btn_outlined_hover hover:shadow-btn_hover;
    @apply active:bg-btn_outlined_active;
    @apply disabled:bg-btn_outlined_disabled border-btn_primary_disabled disabled:text-btn_outlined_hover disabled:shadow-none;
    @apply focus:outline-none;
}
.contained-danger{
   @extend %btn;
   @apply   bg-btn_danger_normal text-white;
   @apply hover:bg-btn_danger_hover hover:shadow-btn_hover;
   @apply  active:bg-btn_danger_active active:shadow-btn_hover;
   @apply  focus:outline-none;

}
.outlined-danger{
    @extend %btn;
    @apply text-btn_danger_normal border border-btn_danger_normal;   
    @apply hover:bg-btn_danger_outlined_hover hover:shadow-btn_hover;
    @apply active:bg-btn_danger_outlined_active;
    @apply disabled:bg-btn_outlined_disabled disabled:text-btn_outlined_hover;
    @apply focus:outline-none;
}